*{
    margin: 0px;
    padding: 0px;
}

.one{
    width: 100%;
    background-color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}

.ele1{
    width: 15%;
    height: 150PX;
    background-color: red;
}

.two{
    width: 100%;
    padding: 35px;
    background-color: black;

}

.ele2{
    width: 20%;
    height: 180PX;
    margin-right: 4.2%;
    background-color: gray;
    display: inline-block;
    justify-content: center;
    align-items: center;

}